body { 
    
    color: darkcyan; 
    text-align: center; 
    font-family: Arial; 
    font-size: 18px; 
    margin: 0; 
    padding: 0; 
} 

#container { 
    
    width: 50%; 
    padding: 1em; 
    border-bottom: 3px solid rgba(9, 41, 224, 0.63); 
    border-right: 10px solid #ef6c1b; 
    border-left: 10px solid #150cc3; 
    border-top: 3px solid #FF8533; 
    text-align: center; 
    margin: 0 auto;
}